/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-height: 60px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #ffcc00; /* Цвет, напоминающий фирменный LEGO */
    color: #000;
}

tr:hover {
    background-color: #f1f1f1;
}

img {
    max-width: 100px;
    height: auto;
}

.no-data {
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.discount {
    color: #ff0000;
    font-weight: bold;
}

.description {
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
}
